<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
<!-- MSI file for wrapping an installer -->
<Product
  Name='Wpkg-GP' Id='*'
  UpgradeCode='1616d84d-6281-4655-bbd9-c5b220c43e16'
  Language='1033' Codepage='1252' Version='0.0.0.0'
  Manufacturer='The Wpkg-GP team'>
  
  <Package 
    Id='*' Keywords='Installer' Description="WPKG-GP MSI Installer for $(sys.BUILDARCH)"
    Comments='http://code.google.com/p/wpkg-gp/'
    Manufacturer='The WPKG-gp team'
    InstallerVersion='300' Languages='1033' Compressed='yes'
    SummaryCodepage='1252' Platform='$(sys.BUILDARCH)'
  />
  <Condition Message="You need to be an administrator to install this product.">
    Privileged
  </Condition>
  <Condition Message='You need a Windows version >= Windows XP SP2 to install this product.'>
    <![CDATA[  VersionNT >= 600 OR (VersionNT >= 501 AND ServicePackLevel >= 2) ]]>
  </Condition>
  
  <Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='TempFolder' Name='Tmp'>
	  <Directory Id="InstallDir" Name="Wpkg-GP">
	    <Component Id="Installer" Guid="c7ea9969-e057-4632-b822-91823fdeee82">
		  <CreateFolder />
		</Component>
	  </Directory>
	</Directory>
  </Directory>
  
  <Feature Id="Complete" Title='WPKG-gp' Level='1' Description='Preconfigured Installer'>
    <ComponentRef Id="Installer" />
  </Feature>
  
  <?if $(sys.BUILDARCH) = "x64" ?>
    <CustomAction Id="ExecuteInstaller_CMD" Property="QtExec64CmdLine" Value='"[#ExeFile]" /S /INI [#IniFile]' Execute="immediate" />
    <CustomAction Id="ExecuteInstaller" BinaryKey="WixCA" DllEntry="CAQuietExec64" Execute="immediate" Return="ignore" />
  <?else ?>
    <CustomAction Id="ExecuteInstaller_CMD" Property="QtExecCmdLine" Value='"[#ExeFile]" /S /INI [#IniFile]' Execute="immediate" />
    <CustomAction Id="ExecuteInstaller" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore" />
  <?endif ?>
  
  <!-- Adding and Removing an Application and Leaving No Trace in the Registry -->
  <!-- http://msdn.microsoft.com/en-us/library/aa367519.aspx -->
  <InstallExecuteSequence>
    <RegisterProduct Suppress="yes" />
	<RegisterUser Suppress="yes" />
	<PublishProduct Suppress="yes" />
	<PublishFeatures Suppress="yes" />
	<Custom Action="ExecuteInstaller_CMD" After="InstallFiles" />
	<Custom Action="ExecuteInstaller" After="ExecuteInstaller_CMD" />
  </InstallExecuteSequence>
  <AdvertiseExecuteSequence>
	<PublishProduct Suppress="yes" />
	<PublishFeatures Suppress="yes" />
  </AdvertiseExecuteSequence>
  
  <UI>
    <ProgressText Action="ExecuteInstaller">Executing the Wpkg-GP installer</ProgressText>
  </UI>
</Product>
</Wix>