<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ConfigureWpkgPolicySettings" Width="370" Height="270" Title="!(loc.VerifyReadyDlg_Title)">
	    <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.VerifyReadyDlgBannerBitmap)" />
		  <Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Wpkg-GP Policy Settings" />
      <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Wpkg-GP Policy Settings (may be overridden by Group Policy Settings)" />
      <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
      <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
      <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
      <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
      <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
      </Control>
        
      <Control Id="DescriptionLabel" Type="Text" X="20" Y="60" Width="350" Height="28" NoPrefix="yes" Text="Enter the path to your wpkg.js or cmd/bat script for starting wpkg. Wpkg-GP will automatically add '/noReboot /synchronize /sendStatus' to a .js file supplied here if needed." />
      <Control Id="WpkgPathLabel" Type="Text" X="20" Y="90" Width="100" Height="15" NoPrefix="yes" Text="Path to wpkg.js:" />
      <Control Id="WpkgPathText" Type="Edit" X="125" Y="90" Width="150" Height="15" Property="WPKGPATH" Text="[WPKGPATH]" />
      <Control Id="WpkgVerbosityLabel" Type="Text" X="20" Y="110" Width="100" Height="15" NoPrefix="yes" Text="Wpkg verbosity" />
      <Control Id="WpkgVerbosityCombo" Type="ComboBox" X="125" Y="110" Width="150" Height="15" Property="WPKGVERBOSITY" Text="[WPKGVERBOSITY]">
        <ComboBox Property="WPKGVERBOSITY">
          <ListItem Value="0" />
          <ListItem Value="1" />
          <ListItem Value="2" />
          <ListItem Value="3" />
        </ComboBox>
      </Control>
      <Control Id="DescriptionLabel2" Type="Text" X="20" Y="130" Width="350" Height="60" NoPrefix="yes" Text="If you leave these fields empty, no changes will be made to the current configured policy." />
      </Dialog>
    </UI>
  </Fragment>
</Wix>